body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #BBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    /*Existem três tipos de position: absolut, relative, static*/
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

/*Quando o mouse passar por cima do item*/
nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

nav a {
    /*Colocar todo em caixa alta*/
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    /*Retirar qualquer edição*/
    text-decoration: none;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0px;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #C78C19;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos li:active {
    border-color: green;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}

footer {
    text-align: center;
    /*Colocar uma imagem como background*/
    background: url("/assets/img/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #ffff;
    font-size: 13px;
    margin-top: 20px;
}

/*Para selecionar filhos diretos
main > p {
   background-color: red;
}

/*Selecionar o primeiro irmão depois da img
img + p {
    background-color: blue;
}

/*Sleecionar todos os irmãos depois da img
img ~ p {
    background-color: yellow;
}

/*Selecionar todos os p menos o class: missao
.principal p:not(#missao) {
    background-color: orange;
}*/

form {
    margin: 40px 0 40px;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background-color: orange;
    color: white;
    /*Negrito*/
    font-weight: bold;
    font-size: 18px;
    border: none;
    /*Borda arredondada*/
    border-radius: 5px;
}

.enviar:hover {
    background-color: darkorange;
    transition: 1s all;
    /*Aparecer a mãozinha ao passar o mouse*/
    cursor: pointer;
    /*Aumentar o item e todos as suas propriedades proporcionalmente*/
    transform: scale(1.05);
}

table {
    margin: 20px 40px;

}

thead {
    background-color: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}


/*css da página inicial*/
.banner {
    width: 100%;
}

.titulo-principal {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    margin: 0 0 1em;
    /*Para limpar o float*/
    clear: left;
    /*O rgba serve para acrescentar a opacidade
    color: rgba(0,0,0,0.3);*/
    /*Criação de sombra para texto
    text-shadow: 2px 2px ;*/
}

/*Colocando a primeira letra em negrito
.titulo-principal:first-letter {
    font-weight: bold;
}*/

.titulo-principal:before {
    content: "[ ";
}

.titulo-principal:after {
    content: " ]";
}


/*Colocar a primeira linha em itálico
p:first-line {
    font-style: italic;
}*/

.principal {
    padding: 3em 0;
    background: #fefefe;
    width: 940px;
    margin: 0 auto;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 120px;
    /*Fazer com que o texto fique em volta da imagem*/
    float: left;
    margin: 0 20px 20px 0;
}

.mapa {
    padding: 3em 0;
    /*Acrescentar cor gradiente*/
    background: linear-gradient(#FEFEFE, #888888);
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.beneficios {
    padding: 3em 0;
    background: #888888;
    /*Colocar uma sombra interna no elemento
    box-shadow: inset 0 0 30px #FF0000;*/
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    /*Alinhar os elementos no topo*/
    vertical-align: top;
}

.itens {
    line-height: 1.5;
}

/*Selecionar o primeiro item da lista
Para selecionar qualquer elemento utiliza-se o "nth-child(4)"*/
.itens:first-child {
    font-weight: bold;
}

.itens:before {
    content: "★";
}

.imagem-beneficios {
    width: 60%;
    /*Para se colocar opacidade*/
    opacity: 0.3;
    transition: 400ms;
    /*Acrescentar uma sombra*/
    box-shadow: 10px 10px 10px #000000;
}

.imagem-beneficios:hover {
    opacity: 1;
}

.video {
    width: 560px;
    margin: 2em auto;
}

/*Adaptar o CSS pra diferentes telas, através da media queries*/
@media screen and (max-width: 480px) {
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    .lista-beneficios, .imagem-beneficios {
        width: 100%;
    }
}