header {
    background-color: #BBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    /*Existem três tipos de position: absolut, relative, static*/
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

/*Quando o mouse passar por cima do item*/
nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

nav a {
    /*Colocar todo em caixa alta*/
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    /*Retirar qualquer edição*/
    text-decoration: none;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0px;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #C78C19;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos li:active {
    border-color: green;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}

footer {
    text-align: center;
    /*Colocar uma imagem como background*/
    background: url("/assets/img/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #ffff;
    font-size: 13px;
    margin-top: 20px;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0 40px;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background-color: orange;
    color: white;
    /*Negrito*/
    font-weight: bold;
    font-size: 18px;
    border: none;
    /*Borda arredondada*/
    border-radius: 5px;
}

.enviar:hover {
    background-color: darkorange;
    transition: 1s all;
    /*Aparecer a mãozinha ao passar o mouse*/
    cursor: pointer;
    /*Aumentar o item e todos as suas propriedades proporcionalmente*/
    transform: scale(1.05);
}

table {
    margin: 20px 40px;

}

thead {
    background-color: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}